<div class="shop-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://pierreplas.be/wp-content/uploads/2019/09/Pierre_Plas_Chocolatier.jpg);">
  <div class="container shop-index">
    <h1>Chocolate Shops</h1>
  </div>
</div>

<div class="input-group">
  <%= form_tag(search_shop_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control' %>
    <%= button_tag "Go!", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
  <% end %>
</div>

<div class="shop-index">
  <div class="container cards">
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop) do %>
        <div class="card-shop">
          <div>
            <img src="https://pierreplas.be/wp-content/uploads/2019/09/Coffret_Panachable-Pierre_Plas-1024x681.jpg" />
          </div>
          <div class="card-shop-infos">
            <div style="display:flex; justify-content: left; align-items: center;">
              <div><h2><%= shop.name %></h2></div>
              <div style="color: brown; margin-left: 30px;">
                <% if shop.shop_reviews.length == 0 %>
                  <p style="font-style: italic; color: brown;">no rating yet</p>
                <% else %>
                  <% rating = 0 %>
                  <% shop.shop_reviews.each do |shop_review| %>
                    <% rating += shop_review.rating %>
                  <% end %>
                  <% rating /= shop.shop_reviews.length %>
                  <p style="color: brown;"><%= "*" * rating %></p>
                <% end %>
              </div>
            </div>
            <p><%= "#{shop.address.street} #{shop.address.number}, #{shop.address.postcode} #{shop.address.city}, #{shop.address.country}"%> <i class="fas fa-map-marker-alt"></i></p>
            <p>Open now<i class="fas fa-check-circle"></i></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <img id="map" src="https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png">
</div>
