<div class="shop-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526823127573-0fda76b6c24f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container shop-index">
    <h1>Chocolate Shops</h1>
  </div>
</div>

<div class="input-group">
  <%= form_tag(search_shops_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= button_tag "Go!", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
  <% end %>
</div>

<div class="shop-index">
  <div class="container cards">
    <% @shops.each do |shop| %>
      <%= link_to shop_path(shop) do %>
        <div class="card-shop">
          <div class="shoppicture">
            <%= image_tag "chocshop#{rand(1..10)}.jpeg" %>
          </div>
          <div class="card-shop-infos">
            <div style="display:flex; align-items: center;">
              <div><h2><%= shop.name %></h2></div>
              <div style="color: brown; margin-left: 30px;">
                <% if shop.shop_reviews.length == 0 %>
                  <p style="font-style: italic; color: white;">no rating yet</p>
                <% else %>
                  <% rating = 0 %>
                  <% shop.shop_reviews.each do |shop_review| %>
                    <% rating += shop_review.rating %>
                  <% end %>
                  <% rating /= shop.shop_reviews.length %>
                  <p><% rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5-rating).times do %>
                    <span style="color: gray;"><i class="far fa-star" style="color: #2A2922;"></i></span>
                  <% end %>
                </p>
                <% end %>
              </div>
            </div>
            <p><i class="fas fa-map-marker-alt" style="color: #2A2922;"></i><%=" #{shop.address.street} #{shop.address.number}, #{shop.address.postcode} #{shop.address.city}, #{shop.address.country}"%></p>
            <p><i class="fas fa-check-circle" style="color: #2A2922;"></i> Open now</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 40%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
