<div class="shop-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://1dc3f33f6d-3.optimicdn.com/gaultmillau.com/photos/6ae3dc3d9e75d53137d88c78c009140d2bde73fe/detail.jpg?1568828009);">
  <div class="banner-text-background">
    <div style="display:flex; justify-content: left; align-items: center;">
      <div><h1><%= @shop.name %></h1></div>
      <div style="color: white;"><%= "*" * @rating %></div>
    </div>
    <p><%= @shop.full_address %></p>
    <p>Tel : +32 477 34 98 78</p>
    <p><i class="fas fa-check-circle" style="color: #2A2922;"></i> Open now</p>
  </div>
</div>
<div class="container">
  <div class="shop-container">
    <div class="shop-column-1">
      <div class="shop-description">
        <h3>Shop Description :</h3>
        <p><%= @shop.description %></p>
      </div>
      <div class="chocolate-offering">
          <h3>Chocolate Offering</h3>
          <% @shop.bars.each do |bar| %>
            <div class="card-trip">
              <img src="https://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201805/171939372.jpg" >
              <div class="card-trip-infos">
                <h2><%= link_to bar.name, bar_path(bar) %></h2>
                <p><%= bar.origin %></p>
              </div>
              <div >
                <h2 class="card-trip-pricing"><%= "#{bar.percentage} %"%></h2>
              </div>
            </div>
          <% end %>
      </div>
      <div class="shop-reviews">
        <h4><strong><%= @shop.name %> Reviews</strong></h4>
        <%= link_to "Write a Review", new_shop_shop_review_path(@shop) %>
          <% if @shop_reviews.blank? %>
          <h3>There are no reviews for this shop yet, would you like to add the first one?</h3>
        <% else %>
        <% @shop_reviews.each do |shop_review| %>
          <hr>
          <p style="color: brown;"><%= "*" * shop_review.rating %></p>
          <p><%= shop_review.content %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="shop-column-2">
      <div class="shop-informations">
        <div class="opening-hours">
          <h3>Opening times:</h3>
          <% @opening_times.each do |key, val| %>
            <div class="day-container">
              <div class="days">
                <h5><%= key %></h5>
              </div>
              <div class="hours">
                <% if val["open"] %>
                  <% open_string = "" %>
                  <% val["openings"].each_with_index do |opening_time, index| %>
                    <% open_hour = opening_time[0].hour.to_s %>
                    <% open_min = opening_time[0].min.to_s %>
                    <% close_hour = opening_time[1].hour.to_s %>
                    <% close_min = opening_time[1].min.to_s %>
                    <% if (open_min.length == 1) then open_min = "0" + open_min end %>
                    <% if (close_min.length == 1) then close_min = "0" + close_min end %>
                    <% if index == 1 %>
                      <br>
                    <% end %>
                    <%= "#{open_hour}:#{open_min} - #{close_hour}:#{close_min}" %>
                  <% end %>
                <% else %>
                  <%= "closed" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="shop-map">
        <img src="https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png">
      </div>
    </div>
  </div>
</div>
