<div>
  <div style="width: 100vh;">
    <h1><%= @shop.name %></h1>
    <p><%= @shop.full_address %></p>
  </div>
  <div style="display: flex; justify-content: space-around; align-items: center; margin: 20px; border: 1px solid #2A2922;">
    <div>
      <div>
        <h3>Chocolate Oferring</h3>
      </div>
      <div>
        <% @shop.bars.each do |bar| %>
          <div style="display: flex; justify-content: space-around; align-items: center; margin: 20px; border: 1px solid #2A2922; width: 600px;">
            <div style="width: 100px; height: 100px; background-color: #7D5642; border: 1px solid #506D2F">
            </div>
            <div style="width: 100px; height: 100px; background-color: #F3EBDD; border: 1px solid #506D2F">
              <h4><%= link_to bar.name, bar_path(bar) %></h4>
            </div>
            <div style="width: 100px; height: 100px; background-color: #F3EBDD; border: 1px solid #506D2F">
              <h3><%= "#{bar.percentage} %"%></h3>
            </div>
            <div style="width: 100px; height: 100px; background-color: #F3EBDD; border: 1px solid #506D2F">
              <h5><%= bar.origin %></h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <div>
        <h3>Opening times</h2>
      </div>
      <div>
        <% @opening_times.each do |key, val| %>
          <div style="display: flex; justify-content: left; align-items: center; margin: 20px; border: 1px solid #2A2922; width: 400px;">
            <div style="width: 100px; margin-right: 20px;">
              <h5><%= key %></h5>
            </div>
            <div style="width: 400px">
              <% if val["open"] %>
                <% open_string = "" %>
                <% val["openings"].each_with_index do |opening_time, index| %>
                  <% open_hour = opening_time[0].hour.to_s %>
                  <% open_min = opening_time[0].min.to_s %>
                  <% close_hour = opening_time[1].hour.to_s %>
                  <% close_min = opening_time[1].min.to_s %>
                  <% if (open_min.length == 1) then open_min = "0" + open_min end %>
                  <% if (close_min.length == 1) then close_min = "0" + close_min end %>
                  <% if index == 1 %>
                    <br>
                  <% end %>
                  <%= "#{open_hour}:#{open_min} - #{close_hour}:#{close_min}" %>
                <% end %>
              <% else %>
                <%= "closed" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
