<div class="bar-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/9/7/0/8/498079-1-eng-GB/Bean-to-bar-chocolate-rises-in-US-Can-multinationals-join-in.jpg);">
  <div class="container bar-index">
    <h1>Chocolate bars</h1>
  </div>
</div>

<div class="input-group">
  <%= form_tag(search_bar_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control' %>
    <span class="input-group-btn">
      <%= button_tag "Go!", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
    </span>
  <% end %>
</div>

<div class="container">
  <div class="bar-cards">
    <% @bars.each do |bar| %>
      <%= link_to bar_path(bar) do %>
        <div class="card-bar">
          <% if Taste.where(user: @user, bar: bar) != [] %>
            <% if Taste.where(user: @user, bar: bar).last.favourite %>
              <div class="favourite-true"></div>
            <% else %>
               <div class="favourite-false"></div>
            <% end %>
          <% else %>
            <div class="favourite-false"></div>
          <% end %>
          <div class="card-bar-name">
            <h2><%=bar.name%></h2>
            <div class="card-bar-rating">
              <% if bar.bar_reviews.length == 0 %>
                <p style="font-style: italic; color: gold;">no rating yet</p>
              <% else %>
                <% rating = 0 %>
                <% bar.bar_reviews.each do |bar_review| %>
                  <% rating += bar_review.rating %>
                <% end %>
                <% rating /= bar.bar_reviews.length %>
                <p style="color: gold;"><%= "*" * rating %></p>
              <% end %>
            </div>
          </div>
          <div class="card-bar-info">
            <div class="card-bar-grid">
              <div class="card-bar-item card-bar-item-bean-logo"><%= image_tag 'bar-logo-bean.png' %></div>
              <div class="card-bar-item card-bar-item-bean-content"><%= "#{bar.beans}"%></div>
              <div class="card-bar-item card-bar-item-perc-logo"><%= image_tag 'bar-logo-perc.png' %></i></div>
              <div class="card-bar-item card-bar-item-perc-content"><%= "#{bar.percentage} %"%></div>
              <div class="card-bar-item card-bar-item-origin-logo"><%= image_tag 'bar-logo-world.png' %></i></div>
              <div class="card-bar-item card-bar-item-origin-content"><%= "#{bar.origin}"%></div>
            </div>
            <div class="card-bar-pict" style="background-image: asset-url('logo_1.png')"></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
