<div class="bar-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/9/7/0/8/498079-1-eng-GB/Bean-to-bar-chocolate-rises-in-US-Can-multinationals-join-in.jpg);">
  <div class="container bar-index">
    <h1>Chocolate bars</h1>
  </div>
</div>

<div class="input-group">
  <%= form_tag(search_bars_path, :method => "get", id: "search-form", remote: true) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= button_tag "Go!", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
  <% end %>
</div>

<div class="bar-index">
  <div class="bar-search">
    <%= render 'shared/search_bar' %>
  </div>



  <div class="bar-container">
  <div class="bar-cards">
    <% @bars.each do |bar| %>
      <%= render 'bar', bar: bar, user: @user  %>

      <% end %>
  </div>
  <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
  </div>
</div>
