<div class="bar-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/9/7/0/8/498079-1-eng-GB/Bean-to-bar-chocolate-rises-in-US-Can-multinationals-join-in.jpg);">
  <div class="container bar-index">
    <h1>Chocolate bars</h1>
  </div>
</div>

<div class="input-group">
  <%= form_tag(search_bars_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= button_tag "Go!", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
  <% end %>
</div>

<div class="bar-container">
  <div class="bar-cards">
    <% @bars.each do |bar| %>
        <div class="card-bar">
          <%= link_to bar_favourite_path(bar), remote: true do %>
            <% if Taste.where(user: @user, bar: bar) != [] %>
              <% if Taste.where(user: @user, bar: bar).last.favourite %>
                <div class="favourite-true" id="bar-<%= bar.id %>"></div>
              <% else %>
                <div class="favourite-false" id="bar-<%= bar.id %>"></div>
              <% end %>
            <% else %>
              <div class="favourite-false" id="bar-<%= bar.id %>"></div>
            <% end %>
          <% end %>
          <div class="card-bar-name">
            <%= link_to bar_path(bar) do %>
              <div class="card-bar-name-h2"><h2><%=bar.name%></h2></div>
            <% end %>
            <div class="card-bar-rating">
              <% if bar.bar_reviews.length == 0 %>
                <p style="font-style: italic; color: gold;">no rating yet</p>
              <% else %>
                <% rating = 0 %>
                <% bar.bar_reviews.each do |bar_review| %>
                  <% rating += bar_review.rating %>
                <% end %>
                <% rating /= bar.bar_reviews.length %>
                 <p>
                  <% rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5-rating).times do %>
                    <span style="color: gray;"><i class="far fa-star"></i></span>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
          <div class="card-bar-info">
            <div class="card-bar-grid">
              <div class="card-bar-item card-bar-item-bean-logo"><%= image_tag 'bar-logo-bean.png' %></div>
              <div class="card-bar-item card-bar-item-bean-content"><%= "#{bar.beans}"%></div>
              <div class="card-bar-item card-bar-item-perc-logo"><%= image_tag 'bar-logo-perc.png' %></i></div>
              <div class="card-bar-item card-bar-item-perc-content"><%= "#{bar.percentage} %"%></div>
              <div class="card-bar-item card-bar-item-origin-logo"><%= image_tag 'bar-logo-world.png' %></i></div>
              <div class="card-bar-item card-bar-item-origin-content"><%= "#{bar.origin}"%></div>
            </div>
            <% random = rand(1..20) %>
            <div class="card-bar-pict"><%= image_tag("logo_#{random}.png") %></div>
          </div>
        </div>
      <% end %>
  </div>
  <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
</div>
