<h1>Bars#index</h1>
<p>Find me in app/views/bars/index.html.erb</p>
<table>
  <tr>
    <th>Bar name</th>
    <td><%= @bar.name %></td>
  </tr>
  <tr>
    <th>Brand</th>
    <td><%= @bar.brand %></td>
  </tr>
  <tr>
    <th>Beans</th>
    <td><%= @bar.beans %></td>
  </tr>
  <tr>
    <th>Percentage</th>
    <td><%= @bar.percentage %></td>
  </tr>
  <tr>
    <th>Origin</th>
    <td><%= @bar.origin %></td>
  </tr>
  <tr>
    <th>Price range</th>
    <td><%= @bar.price_range %></td>
  </tr>
</table>
