<div class="bar-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/9/7/0/8/498079-1-eng-GB/Bean-to-bar-chocolate-rises-in-US-Can-multinationals-join-in.jpg);">
  <div class="container bar-index">
    <h1>Chocolate bars</h1>
  </div>
</div>

<div class="input-group">
  <%= form_tag(search_bars_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= button_tag "Go!", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
  <% end %>
</div>

<div class="container shop-index">
  <div class="container cards">
    <% @bars.each do |bar| %>
      <%= link_to bar_path(bar) do %>
        <div class="card-bar">
          <div>
            <img src="https://media.gettyimages.com/photos/cocoa-beans-and-chocolate-bars-sit-on-display-at-the-auro-chocolate-picture-id1133456655" />
          </div>
          <div class="card-bar-infos">
            <div style="display:flex; justify-content: left; align-items: center;">
              <div><h2><%=bar.name%></h2></div>
              <div style="color: brown; margin-left: 30px;">
                <% if bar.bar_reviews.length == 0 %>
                  <p style="font-style: italic; color: brown;">no rating yet</p>
                <% else %>
                  <% rating = 0 %>
                    <% bar.bar_reviews.each do |bar_review| %>
                      <% rating += bar_review.rating %>
                    <% end %>
                    <% rating /= bar.bar_reviews.length %>
                    <p style="color: brown;"><%= "*" * rating %></p>
                <% end %>
              </div>
            </div>
            <p><%= "#{bar.percentage} %"%></p>
            <p><%= bar.origin %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
