<div>
    <div class="shop-index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://1dc3f33f6d-3.optimicdn.com/gaultmillau.com/photos/6ae3dc3d9e75d53137d88c78c009140d2bde73fe/detail.jpg?1568828009);">
    <div class="banner-text-background">
      <h1><%= @bar.name %></h1>
    </div>
  </div>
  <div style="display: flex;justify-content: space-around; align-items: center;">
    <div style="margin: 20px auto; border: 1px solid #2A2922; width: 300px; background-color: #506D2F;">
      <div style="width: 200px; height: 300px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h4><%= @bar.name %></h4>
      </div>
      <div style="width: 200px; height: 300px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h4><%= @bar.brand %></h4>
      </div>
      <div style="width: 200px; height: 300px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h3><%= "#{@bar.percentage} %"%></h3>
      </div>
      <div style="width: 200px; height: 300px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h5><%= @bar.beans %></h5>
      </div>
      <div style="width: 200px; height: 300px; background-color: #F3EBDD; border: 1px solid #506D2F">
        <h5><%= "*" * @rating  %></h5>
      </div>
    </div>

          <div class="whereto">
            <h4>Where can I find this chocolate bar?</h4>
            <% @bar.shops.each do |shop| %>
            <div class="card-product">
              <div class="">
            <img src="https://www.krondc.com/wp-content/uploads/2016/02/Kron_Chocolate-House_DCN9263-1.jpg" />
          </div>
              <div class="card-product-infos">
                <div class="singlecard">
            <h2><%= link_to shop.name, shop_path(shop) %></h2>
          </div>
          <div class="singlecard">
            <p><%= "#{shop.address.street} #{shop.address.number}, #{shop.address.postcode} #{shop.address.city}, #{shop.address.country}"%></p>
          </div>
              </div>
            </div>
            <% end %>
          </div>


  </div>
</div>
</div>

<div class="bar-reviews">
        <h3>Bar Reviews</h3>
        <% @bar_reviews.each do |bar_review| %>
          <hr>
          <p style="color: brown;"><%= "*" * bar_review.rating %></p>
          <p><%= bar_review.content %></p>
        <% end %>
      </div>

