<div class="bars-show-page">
  <div class="containerinfo">
    <div class="beige-background"></div>
    <div class="white-background">
      <h2 class="title"><%= @bar.name %></h2>
      <div class="brand-and-percentage">
        <p class="brand"><%= @bar.brand %></p>
      </div>
      <p class="description"><%= @bar.description.downcase %></p>
      <div class="beans">
        <p>Type of beans : </p>
        <p class="type-of-beans">
          <% if @bar.beans = 0 %>
            <%= "/" %>
          <% else %>
            <%= "@bar.beans.downcase.capitalize" %>
          <% end %>
        </p>
      </div>
      <p class="ingredients">Ingredients : <%= @bar.ingredients.downcase.capitalize %></p>
      <div class="origin">
        <p><i class="far fa-compass"></i> <%= @bar.origin %></p>
        <p class="production"><i class="fas fa-industry"></i> <%= @bar.production %></p>
      </div>
    </div>
    <div class="band-background">
      <div class="white-band">
        <p class="percentage"><%= @bar.percentage %> %</p>
        <p class="rating">Rating : <%= "*" * @rating %></p>
      </div>
    </div>
  </div>
</div>

<div class="container bar-review-and-find">
  <div class="bar-review">
    <h4><strong><%= @bar.name %> Reviews</strong></h4>
    <p><%= link_to "Write a Review", new_bar_bar_review_path(@bar), class: "btn btn-write-a-review" %></p>
      <% if @bar_reviews.blank? %>
        <h3>There are no reviews for this chocolate bar yet, would you like to add the first one?</h3>
      <% else %>
      <% @bar_reviews.each do |bar_review| %>
        <hr class="separation">
        <div class="review-star-and-content">
          <p class="review-star" style="color: brown;"><%= "*" * bar_review.rating %></p>
          <p class="review-content"><%= bar_review.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="whereto">
    <h4><strong>Where can I find this chocolate bar?</strong></h4>
    <% @bar.shops.each do |shop| %>
      <hr class="separation">
      <div class="card-product-infos">
        <div class="shop-link">
          <h2 class="shop-name"><%= link_to shop.name, shop_path(shop) %></h2>
          <p class="shop-address"><%= "#{shop.address.street} #{shop.address.number}, #{shop.address.postcode} #{shop.address.city}, #{shop.address.country}"%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


