<div class="shop-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.vaninicioccolato.com/wp-content/uploads/2018/09/fave-di-cacao-vanini-750x400.jpg);">
  <div class="container shop-index">
    <h1><%= "Hi #{@user.first_name} #{@user.last_name}!" %></h1>
  </div>
</div>

<div class="container">
  <div class="dashboard-container">
    <div class="dash-column-1">

      <div class="dash-fav-bars">
        <h2>Your favourite bars!</h2>
        <div class="dash-cards">
          <% @tastes.each do |taste| %>
            <%= link_to bar_path(taste.bar) do %>
              <div class="dash-card-shop">
                <div>
                  <% random = rand(1..20) %>
                  <div class="dash-card-bar-pict"><%= image_tag("logo_#{random}.png") %></div>                </div>
                <div class="card-shop-infos">
                  <h2><%= taste.bar.name %></h2>
                  <p><%= taste.bar.brand %></p>
                  <p><%= taste.bar.percentage %> %</p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <hr>

      <div class="dash-bar-review">
        <h4>Reviews of bars you wrote</h4>
        <div class="scroll-review">
          <% @bar_reviews.each do |bar_review| %>
            <hr class="separation">
            <div class="review-star-and-content">
              <p class="review-star" style="color: brown;"><%= "*" * bar_review.rating %></p>
              <p class="review-content"><%= bar_review.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="dash-column-2">
      <div class="fav-shops">
        <h2>Your favourite chocolate shops!</h2>
        <div class="dash-cards">
          <% @visits.each do |visit| %>
            <%= link_to shop_path(visit.shop) do %>
              <div class="card-shop">
                <div>
                  <img src="https://pierreplas.be/wp-content/uploads/2019/09/Coffret_Panachable-Pierre_Plas-1024x681.jpg" />
                </div>
                <div class="card-shop-infos">
                  <h2><%= visit.shop.name %></h2>
                  <p><%= "#{visit.shop.address.street} #{visit.shop.address.number}, #{visit.shop.address.postcode} #{visit.shop.address.city}, #{visit.shop.address.country} %"%> <i class="fas fa-map-marker-alt"></i></p>
                  <p>Open now<i class="fas fa-check-circle"></i></p>
                  <p>Review 5 stars</p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <hr>

      <div class="dash-shop-review">
        <h4>Reviews of shops you wrote</h4>
        <div class="scroll-review">
          <% @shop_reviews.each do |shop_review| %>
            <hr class="separation">
            <div class="review-star-and-content">
              <p class="review-star" style="color: brown;"><%= "*" * shop_review.rating %></p>
              <p class="review-content"><%= shop_review.content %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
