<div class="choc-container">
  <h3>Become a chocolate tasting Expert!</h3>
  <div class="choc-grid choc-grid-expert">

    <div class="grid-item grid-head">Senses</div>
    <div class="grid-item grid-head">Properties</div>
    <div class="grid-item grid-head">Weight</div>
    <div class="grid-item grid-head">Score</div>
    <div class="grid-item grid-head">Description</div>

    <div class="grid-item grid-sense">
      <div class="grid-item-content">
        <h7>Appearance</h7>
        <br>
        <%= image_tag 'tasting-eye.png' %>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-content">
        <div>Form</div>
        <div>Colour</div>
        <div>Gloss</div>
        <div>Surface</div>
      </div>
    </div>
    <div class="grid-item grid-weight">
      <div class="grid-item-content">2</div>
    </div>
    <div class="grid-item grid-score">
      <div class="grid-item-content">
        <select class="choc-select">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>
    </div>
    <div class="grid-item grid-description">
      <p>
        Pay attention to color, the intensity (strong or weak) and the hue (shade of red/mahogany, yellow, grey, violet…)
        Put the chocolate on a well lit white paper or tablecloth to look at its appearance.
        All chocolate should have a glossy shine to its surface, and be free of any cracks, smudges or pale streaks of unmixed cocoa butter.
        Look-out for tiny bubbles that can be found in the corners and edges of the chocolate,
        indicating that not enough air was tapped out of the chocolate before it set.
      </p>
    </div>

    <div class="grid-item grid-touch">
      <div class="grid-item-content">
        <h7>Sound</h7>
        <br>
        <%= image_tag 'tasting-ear.png' %>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-content">
        <div>Resistance</div>
        <div>Hardness</div>
        <div>Structure</div>
      </div>
    </div>
    <div class="grid-item grid-weight">
      <div class="grid-item-content">2</div>
    </div>
    <div class="grid-item grid-score">
      <div class="grid-item-content">
        <select class="choc-select">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>
    </div>
    <div class="grid-item grid-description">
      <p>
        Close your eyes to concentrate! Bend the chocolate to feel the resistance, and thus hardness.
        Just before breaking the chocolate you feel for his resistance (bends or breaks).
        When it breaks you LISTEN to the sound or snap (clear or dull).
        With your eyes still closed, bring the chocolate close to your ear and snap it.
      </p>
    </div>

    <div class="grid-item grid-touch">
      <div class="grid-item-content">
        <h7>Touch</h7>
        <br>
        <%= image_tag 'tasting-hand.png' %>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-content">
        <div>Colour</div>
        <div>Gloss</div>
        <div>Surface</div>
      </div>
    </div>
    <div class="grid-item grid-weight">
      <div class="grid-item-content">2</div>
    </div>
    <div class="grid-item grid-score">
      <div class="grid-item-content">
        <select class="choc-select">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>
    </div>
    <div class="grid-item grid-description">
      <p>
        Rub the chocolate between both fingers to assess its finger-sensitivity (soft or hard).
        Press between your fingers for the melting rate (slow or fast)
      </p>
    </div>

    <div class="grid-item grid-touch">
      <div class="grid-item-content">
        <h7>Smell</h7>
        <br>
        <%= image_tag 'tasting-nose.png' %>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-content">
        <div></div>
        <div>Colour</div>
        <div>Gloss</div>
        <div>Surface</div>
      </div>
    </div>
    <div class="grid-item grid-weight">
      <div class="grid-item-content">4</div>
    </div>
    <div class="grid-item grid-score">
      <div class="grid-item-content">
        <select class="choc-select">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>
    </div>
    <div class="grid-item grid-description">
      <p>

      </p>
    </div>

    <div class="grid-item grid-touch" style="grid-area: 6 / 1 / span 3 / span 1;">
      <div class="grid-item-content">
        <h7>Taste</h7>
        <br>
        <%= image_tag 'tasting-mouth.png' %>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-content">
        <div></div>
        <div>Mouthfeel</div>
      </div>
    </div>
    <div class="grid-item grid-weight">
      <div class="grid-item-content">3</div>
    </div>
    <div class="grid-item grid-score">
      <div class="grid-item-content">
        <select class="choc-select">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>
    </div>
    <div class="grid-item grid-description">
      <p>

      </p>
    </div>

    <div class="grid-item">
      <div class="grid-item-content">
        <div></div>
        <div>Taste</div>
      </div>
    </div>
    <div class="grid-item grid-weight">
      <div class="grid-item-content">4</div>
    </div>
    <div class="grid-item grid-score">
      <div class="grid-item-content">
        <select class="choc-select">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>
    </div>
    <div class="grid-item grid-description">
      <p>

      </p>
    </div>

    <div class="grid-item">
      <div class="grid-item-content">
        <div></div>
        <div>Aroma</div>
      </div>
    </div>
    <div class="grid-item grid-weight">
      <div class="grid-item-content">4</div>
    </div>
    <div class="grid-item grid-score">
      <div class="grid-item-content">
        <select class="choc-select">
          <option>5</option>
          <option>4</option>
          <option>3</option>
          <option>2</option>
          <option>1</option>
        </select>
      </div>
    </div>
    <div class="grid-item grid-description">
      <p>

      </p>
    </div>

  </div>
</div>
