@<div class="navbars">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <div class="logo">
    <img src="https://img.icons8.com/ios/50/000000/chocolate-bar.png">
    <p class="choc">CHOC</p>
    </div>
    <% end %>

<div class="nav" style = "position:absolute; left:80px;">
    <ul class="nav nav-pills">
      <li class="dropshops">
        <a class="nav-link customButton" href="/shops" role="button">Find a shop!<i class="fas fa-store"></i></a>
      </li>
      <li class="dropbars">
        <a class="nav-link customButton" href="/bars" role="button">Find a chocolate bar!<i class="fas fa-border-all"></i></a>
      </li>
    </ul>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://avatars3.githubusercontent.com/u/58650604?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Dashboard", user_dashboard_path, class: "dropdown-item" %>
            <%= link_to "Account info", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
