<h1>Helping uncover great tastes from great Chocolate!</h1>
<div class="choc-container">
  <div class="choc-grid">

    <div class="grid-item grid-head">Senses</div>
    <div class="grid-item grid-head">Properties</div>
    <div class="grid-item grid-head">Weight</div>
    <div class="grid-item grid-head">Score</div>
    <div class="grid-item grid-head">Description</div>

    <div class="grid-item grid-sense">
      <h7>Appearance</h7>
      <br>
      <%= image_tag 'tasting-eye.png' %>
    </div>
    <div class="grid-item">
      <div>Form</div>
      <div>Colour</div>
      <div>Gloss</div>
      <div>Surface</div>
    </div>
    <div class="grid-item grid-weight">2</div>
    <div class="grid-item grid-score">
      <select class="choc-select">
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="grid-item grid-description">
      <p>
        Pay attention to color, the intensity (strong or weak) and the hue (shade of red/mahogany, yellow, grey, violet…)
        Put the chocolate on a well lit white paper or tablecloth to look at its appearance.
        All chocolate should have a glossy shine to its surface, and be free of any cracks, smudges or pale streaks of unmixed cocoa butter.
        Look-out for tiny bubbles that can be found in the corners and edges of the chocolate,
        indicating that not enough air was tapped out of the chocolate before it set.
      </p>
    </div>

    <div class="grid-item grid-touch">
      <h7>Sound</h7>
      <br>
      <%= image_tag 'tasting-ear.png' %>
    </div>
    <div class="grid-item">
      <div></div>
      <div>Resistance</div>
      <div>Hardness</div>
      <div>Structure</div>
    </div>
    <div class="grid-item grid-weight">2</div>
    <div class="grid-item grid-score">
      <select class="choc-select">
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="grid-item grid-description">
      <p>
        Close your eyes to concentrate! Just before breaking the chocolate you feel for his resistance (bends or breaks).
        When it breaks you LISTEN to the sound or snap (clear or dull).
        With your eyes still closed, bring the chocolate close to your ear and snap it.
      </p>
    </div>

    <div class="grid-item grid-touch">
      <h7>Touch</h7>
      <br>
      <%= image_tag 'tasting-hand.png' %>
    </div>
    <div class="grid-item">
      <div></div>
      <div>Colour</div>
      <div>Gloss</div>
      <div>Surface</div>
    </div>
    <div class="grid-item grid-weight">2</div>
    <div class="grid-item grid-score">
      <select class="choc-select">
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="grid-item grid-description">
      <p>

      </p>
    </div>

    <div class="grid-item grid-touch">
      <h7>Smell</h7>
      <br>
      <%= image_tag 'tasting-nose.png' %>
    </div>
    <div class="grid-item">
      <div></div>
      <div>Colour</div>
      <div>Gloss</div>
      <div>Surface</div>
    </div>
    <div class="grid-item grid-weight">2</div>
    <div class="grid-item grid-score">
      <select class="choc-select">
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="grid-item grid-description">
      <p>

      </p>
    </div>

    <div class="grid-item grid-touch">
      <h7>Taste & Flavour</h7>
      <br>
      <%= image_tag 'tasting-mouth.png' %>
    </div>
    <div class="grid-item">
      <div></div>
      <div>Taste</div>
      <div>Aroma</div>
      <div>Mouthfeel</div>
    </div>
    <div class="grid-item grid-weight">2</div>
    <div class="grid-item grid-score">
      <select class="choc-select">
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="grid-item grid-description">
      <p>

      </p>
    </div>

  </div>
</div>
