<div class="page-wrapper form-background p-t-100 p-b-100">
  <div class="bar-review-wrapper wrapper-w780">
    <div class="form-title" style="padding:15px; text-align:center;">
      <h1>How was your experience with this chocolate bar?</h1>
      <p>Please leave a comment and click "Submit your review". </p>
    </div>
    <div class="form-inputs">
      <%= simple_form_for [@bar, @bar_review] do |f| %>
        <%= f.label :rating %>
        <%= f.select :rating, options_for_select([["Please select one", ""], 5, 4, 3, 2, 1]) %>
        <%= f.input :content, placeholder:"Please enter your comment here" %>
        <div class="form-actions">
        <%= link_to 'Submit your review', bar_path(@bar) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
